@import url("https://fonts.googleapis.com/css?family=Montserrat: 200,200i,300,300i,400,400i,500,500i,600");

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'Quicksand', 'Open Sans', 'arial', 'helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
}
